<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-X0LTZT2HG9"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-X0LTZT2HG9',{ 'debug_mode':true });
        gtag('event','page_view',{
            'page_title': 'Login Page',
            'page_location': window.location.href,
            'page_path': window.location.pathname,
            'page_category': 'Home'
        })
        </script>


</head>


<body class="login-page">
    <div class="login-container">
        <!-- Display the user_logo.png as an icon -->
        <img src="{{ url_for('static', filename='new_logo.png') }}" alt="User Icon">
        <h1>Login</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form id = "login-form" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
    <script src="static/script.js"></script>
</body>

</html>